#HeroSection {
    position: relative;
    top: 100px;
    left: max(calc(50vw - var(--max-content-width) /2), 10px);
}

#Headline {
    position: relative;
    font-size: 50px;
    margin-bottom: 50px;
}

#HeroText {
    font-size: 25px;
    color: white;
    max-width: 300px;
}

#IntroPannel {
    background: url('/promo.png')  no-repeat;
    background-position: bottom 0 right max(calc(50vw - var(--max-content-width) / 2 - 50px), 10px);
    background-color: #FECC18;
    background-size: clamp(400px,70vw,600px);
    height: 550px;
}