header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    top:0;
    left: 0;
    background-color: white;
    padding: 5px ;
    z-index: 1000;
}

#Location {
    display: flex;
    align-items: center;
}

#Location > div {
    padding-left: 6px;
    display: grid;
}

