.horizontal_list > .short_card > .card__img {
    border-radius: 50%;
    position: relative;
}

.horizontal_list > .short_card {
    width: 180px;
    height: 250px;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 3%;
}

.price {
    position: absolute;
    bottom: 0;
    background-color: white;
    padding: 3px;
    border-radius: 30%;
    left: 0;
    color: green;
    font-weight: 900;
}

.kcal {
    position: absolute;
    top: 10px;
    right: 0;
    color: rgb(226, 33, 27);
    font-weight: 600;
}

.rating {
    position: absolute;
    left: 5px;
    top: 10px;
    color: rgb(228, 152, 13);
    font-weight: 700;
    border-radius: 100%;
}

.short_card > * {
    flex :auto;
}

.short_card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;

}

.horizontal_list {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    gap: 5vw;
}

.horizontal_list > *{
    flex : none;
}
.list {
    padding: 0 10px;
}

.list > .short_card {
    margin: 50px 0;
    background-color: white;
    border-radius: 10%;
}

.list .card__img {
    border-radius: 5%;
}